header.header {display: none;}
.subhead-collapse {
  position: relative;
  z-index: 11;
  // height:40px !important;
  height:40px;
  margin: 0;
}
.subhead {
  margin-bottom: 0;
  background: @primary-blue;
  border-bottom: 0;
  min-height: inherit;

  .btn-toolbar {
    text-align: right;
    margin: 0 !important;
    .btn-wrapper {
      margin: 0;
      line-height: 40px;
    }
    #toolbar-settings {
      float: right;
      line-height: 40px;
    }
    #toolbar-title {
      float: left;
      margin-left: 0;
      min-width: 170px;
      text-align: left;
      h3 {
        margin: 0;
        line-height: 40px;
        color: #fff;
        text-shadow: none;
        
        [class^="icon-"],
        [class*=" icon-"] {
          margin-right: 15px;
          background: transparent;
          border: none;
          margin-left: 0px;
        }
      }
    }
    .btn{
      background: transparent;
      color: #fff;
      text-shadow: none;
      border: 0; border-radius: 0;
      padding: 0 15px !important;
      line-height: 40px !important;

      &:hover,
      &:focus{
        background: rgba(0,0,0,0.2);
        outline: none;
      }
      &.btn-success{
        background: darken(@btn-primary, 5%);
        &:hover,
        &:focus{
          background: darken(@btn-primary, 15%);
          outline: none;
        }
      }
      &.btn-primary{
        background: darken(@btn-primary, 15%);
        &:hover,
        &:focus{
          background: darken(@btn-primary, 25%);
          outline: none;
        }
      }
      
    }
    [class^="icon-"], [class*=" icon-"]{
      vertical-align: middle; 
      margin-right: 0;
      background: none !important;
      border: none !important;
    }
    .btn-mini .caret,
    .btn-small .caret {margin-top: 19px;}

    .icon-publish:before, .icon-save:before, .icon-ok:before, .icon-save-new:before, .icon-save-copy:before, .icon-copy:before,
    .icon-unpublish:before, .icon-not-ok:before, .icon-eye-close:before, .icon-ban-circle:before, .icon-minus-sign:before, .icon-cancel:before,
    .icon-edit:before{ color: inherit}

    .dropdown-menu{
      border-radius: 0; margin: 0; border-color: @tabs-border-color;
      > li > a{ text-shadow: none; }
      > li > a:hover,
      > li > a:focus,
      &.dropdown-submenu:hover > a,
      &.dropdown-submenu:focus > a{ background: @primary-blue; }
    }

    // Make video menu right
    #toolbar-video{ float: left; margin-left: 10px; }
  }
  #toolbar .btn-success{ width: auto; }
}
