# Project management
/.buildpath
/.idea
/.settings
/nbproject
/TODO
config.codekit

#Build files
/build/temp
/build/release

# Joomla core files
/.htaccess
/administrator/cache/*
/administrator/components/*
!/administrator/components/com_digicom/
/administrator/help/*
/administrator/includes/*
/administrator/language/*
!/administrator/language/en-GB/
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_digicom.ini
!/administrator/language/en-GB/en-GB.com_digicom.sys.ini
!/administrator/language/en-GB/en-GB.mod_digicom_menu.ini
!/administrator/language/en-GB/en-GB.mod_digicom_menu.sys.ini
!/administrator/language/en-GB/en-GB.plg_system_digicom.ini
!/administrator/language/en-GB/en-GB.plg_system_digicom_addtocart.ini
!/administrator/language/en-GB/en-GB.plg_digicom_pay_offline.ini
!/administrator/language/en-GB/en-GB.plg_digicom_pay_paypal.ini
!/administrator/language/en-GB/en-GB.plg_finder_digicom.ini
!/administrator/language/en-GB/en-GB.plg_finder_digicom.sys.ini
/administrator/manifests/*
/administrator/modules/*
!/administrator/modules/mod_digicom_menu*
/administrator/templates/*
/administrator/index.php
/backup/*
/bin/*
/cache/*
/cli/*
/components/*
!/components/com_digicom/
/digicom/*
/images/*
/includes/*
/installation/*
/language/*
!/language/en-GB/
/language/en-GB/*
!/language/en-GB/en-GB.com_digicom.ini
!/language/en-GB/en-GB.mod_digicom_cart.ini
!/language/en-GB/en-GB.mod_digicom_categories.ini
!/language/en-GB/en-GB.mod_digicom_manager.ini
!/language/en-GB/en-GB.plg_system_digicom_addtocart.ini
/layouts/*
/libraries/*
/logs/*
/log/*
/media/*
!/media/digicom/
/modules/*
!/modules/mod_digicom_cart/
!/modules/mod_digicom_categories/
/plugins/*
!/plugins/digicom_pay/*
/plugins/digicom_pay/*
!/plugins/digicom_pay/offline/*
!/plugins/digicom_pay/paypal/*
!/plugins/system/
!/plugins/search/
!/plugins/finder/
/plugins/system/*
/plugins/search/*
/plugins/finder/*
!/plugins/system/digicom*
!/plugins/system/digicom_addtocart*
!/plugins/search/digicom*
!/plugins/finder/digicom*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/*.dist
