# Builds
releases

# Node modules
node_modules

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea/

# Eclipse
.metadata/

# Sublime Text
*.sublime*

# Eclipse
.buildpath
.project
.settings

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# Github pages and Jekyll files
/_site/
/Gemfile
/Gemfile.lock

# composer
composer.lock
composer.phar
vendor/*

# config
gulp-config.json

#bower
bower_components

# Robo
RoboFile.ini
robo.phar

# Test related files
tests/acceptance.suite.yml
tests/*/*Tester.php
tests/joomla-cms3*
tests/_output*
selenium-server-standalone.jar
codecept.phar
selenium.log
