/.gitignore
/.htaccess
/.idea/*
/administrator/cache/*
/administrator/components/*
!/administrator/components/com_digicom/
/administrator/help/*
/administrator/includes/*
/administrator/language/*
!/administrator/language/en-GB/
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_digicom.ini
!/administrator/language/en-GB/en-GB.com_digicom.sys.ini
!/administrator/language/en-GB/en-GB.plg_system_digicom_addtocart.ini
/administrator/manifests/*
/administrator/modules/*
/administrator/templates/*
/administrator/index.php
/bin/*
/cache/*
/cli/*
/components/*
!/components/com_digicom/
/digicom/*
!/digicom/audios/
/digicom/audios/*
!/digicom/audios/index.html
!/digicom/files/
/digicom/files/*
!/digicom/files/index.html
!/digicom/images/
/digicom/images/*
!/digicom/images/index.html
!/digicom/pdfs/
/digicom/pdfs/*
!/digicom/pdfs/index.html
!/digicom/videos/
/digicom/videos/*
!/digicom/videos/index.html
!/digicom/index.html*
/images/*
/includes/*
/installation/*
/language/*
!/language/en-GB/
/language/en-GB/*
!/language/en-GB/en-GB.com_digicom.ini
!/language/en-GB/en-GB.mod_digicom_cart.ini
!/language/en-GB/en-GB.mod_digicom_categories.ini
!/language/en-GB/en-GB.mod_digicom_manager.ini
!/language/en-GB/en-GB.plg_system_digicom_addtocart.ini
/layouts/*
/libraries/*
/logs/*
/media/*
!/media/digicom/*
/modules/*
!/modules/mod_digicom_cart/*
!/modules/mod_digicom_categories/*
!/modules/mod_digicom_google/*
!/modules/mod_digicom_manager/*
/plugins/*
!/plugins/payment/*
!/plugins/system/*
/plugins/system/*
!/plugins/system/digicom_addtocart*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
