/*.digi_textbox ,select, textarea {
	height:22px;
	font-size: 12px;
	padding:2px;
	border: 1px solid #cccccc;
	margin: 3px 5px 0px 0px;

}
select{ 
height: 24px;

}*/
.digi_button{
	/*padding:2px 3px 2px 3px;*/
	border:1px solid #cccccc;
	background-color:#f7f7f7;
	color:#333333;
	height: 22px;
	padding:2px;
	font-size:0.7em;
}
#digi_table {
	/*border: 7px solid #CCCCCC;*/

	line-height: 150%;
	border-collapse:separate !important;
}
.item_row{
	/*background-color:#E6E6E6;*/
}

/*.item_column{
	border-bottom:1px solid #CCCCCC !important;
	padding-bottom: 5px;
	padding-top: 5px;
}*/

.item_column_right{
	padding-bottom: 5px;
	padding-top: 5px;
	text-align:right;
}

/*.promo_row{
	background-color:#FFFFFF;
}
.total_row{
	background-color:#FFFFFF;
}*/
.plugin_row{
	background-color:#D6D6D6;
	height: 35px;
}
.make_payment{
	text-align:center;
	background-color:#cc0000;

}
.create_account{
	background-color:#EFEFEF;
	height:37px;
	font-size: 16px;
	font-weight: bold;
	color:#666666;
}
#digi_table2 {
	width: 100%;
	padding: 0;
	margin: 5px;
	background-color:#f7f7f7;
}
#digi_table th {
	color: #000000;
	padding: 0px;
	/*background-color:#EFEFEF;*/
	border-bottom: 1px solid #CCCCCC;
	font-size:0.9em
}
#digi_table th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #CCCCCC;
	background: none;
}

#digi_table  td.digi_alt {
	background: #F7f7f7;
}
#digi_table th.spec {
	border-left: 1px solid #CCCCCC;
	border-top: 0;
}
th.specalt {
	border-left: 1px solid #CCCCCC;
	border-top: 0;
}

.item_column ul, .total_row ul, .digicom_orders ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
/*.digicom_product_name{
	display:block;
	font-weight:normal;
	margin: 0.2em;
	color:#333333;
	font-size:0.9em;
}*/
/*.digicom_details{
	display:block;
	padding:5px 0;
	margin: 0.1em 0;
	color:#333333;
	font-size:0.9em;
	line-height:30px;
}*/
.digicom_expired{
	padding:1px;
	margin: 0.1em 0;
	color:#FF0000;
	font-size:0.9em;
}
.digicom_active{
	padding:1px;
	margin: 0.1em 0;
	color:#66CC00;
	font-size:0.8em;
}
.digi_cart_amount{
	padding:5px;
	margin: 0.2em 0;
	color:#333333;
	font-size:0.9em;
}
.digi_cart_total{
	font-weight:bold;
	padding:5px;
	margin: 0.2em 0;
	color:#333333;
	font-size:0.9em;
	text-align:right;
}



/* New Stuff */

#digicom {
	padding: 10px;
}
.clr {
	clear:both;
}
#digstore_menubar {
	border: 1px solid #eeeeee;
	background: #f7f7f7;
	padding: 2px;
	text-align:center;
}
#digstore_menubar ul {
	margin: 0;
	padding: 0;
	text-align:right;
}
#digstore_menubar li {
	list-style-type:none;
	border-right: 1px solid #000;
	margin: 5px !important;
	padding: 0 10px 0 0 !important;
	display:inline;
	font-weight: bold;
}
#digstore_menubar li:last-child {
	border-right: 0 none;
}
.digicom_search {
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px 10px;
	height:30px;
}
.digicom_orders {
	border: 1px solid #ccc;
	padding: 0;
	margin-top: 5px;
}
.digicom_orderhead {
	border-bottom: 1px solid #ccc;
}
.digicom_orderhead span {
	display:block;
	float:left;
	background: #eee;
	font-weight: bold;
	padding: 5px 0 5px 0;
}
.digicom_orderhead span.col1 {
	width: 75%;
	text-indent: 10px;
}
.digicom_orderhead span.col2 {
	width: 25%;
}
.digicom_invoice {
	float:right;
	display: block;
	font-weight: bold;
	padding-top: 8px;
	font-size: 12px;
	padding-right:25px;
	text-align:right;
}

.digicom_invoice table{
	float:right;
}

.digicom_orders ul {
	margin: 0;
	padding: 0;
}
.digicom_orders ul li {
	text-indent: 5px;
	background-image: none !important;
}
.digicom_row {
	margin: 0;
	padding: 0;
	display:block;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.digicom_row.even {
	background: #f7f7f7;
}
.digicom_row ul {
	float:left;
	display:block;
	/*width: 70%;*/
}
.digicom_row ul li {
	margin: 5px 0;
	background-image: none !important;
}

#dslayout-vert ul, #dslayout-vert li, #dslayout-listmulti ul, #dslayout-listmulti li{
	background:none !important;
	/*float: left;*/
	list-style-type: none;
}

#digi_table ul, #digi_table li, #digicom_body ul{
	list-style-type: none !important;
	float:left;
	background-image: none !important;
}

.summary_header{
	/*color:#666666;
	background-color:#CCCCCC;*/
	text-align:center;
	/*padding-top:5px;
	padding-bottom:5px;*/
}

.cart_content_1{
	background-color:#FFFFFF;
	text-align:left;
	padding: 2px 0 2px 5px;
}

.cart_content_0{
	background-color:#EFEFEF;
	text-align:left;
	padding: 2px 0 2px 5px;
}

.general_text{
		font-weight:normal;
	padding:1px;
	margin: 0.2em;
	color:#666666;
	font-size:0.8em;
	}
.general_text_larger{
		font-weight:normal;
	padding:0px;
	margin: 0.2em;
	color:#666666;
	font-size:1.0em;

	}
.digi_error{
		font-weight:normal;
	padding:1px;
	margin: 0.2em;
	color:#cc0000;
	font-size:0.7em;
	}
.digi_subtitle{
	font-weight:bold;
	padding: 0.4em 0em;
	color:#666666;
	font-size:1.2em;

	}
#component .digicom .pagination{
	text-shadow: none;
	padding: 0;
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}