.panel-box {
  background: #fff;
  padding: 15px;
}
/* Joomla 2.5 FIX */
.pull-left {
  float: left;
}
.media {
  clear: both;
}
dt.acl-groups {
  font-size: inherit;
}
/* Joomla 3.0 FIX */
td.order input {
  width: 30px;
  text-align: right;
}
/* General FIX */
#content [class^="icon-"],
#content [class*=" icon-"] {
  color: #edd70c;
}
#content .btn [class^="icon-"],
#content .btn [class*=" icon-"] {
  color: inherit;
}
span.label-ds,
span.badge-ds {
  background-color: #B44CDB;
}
span.label-ds a,
span.badge-ds a {
  color: white;
}
.header_zone,
adminlist.header_zone {
  background-color: #E8F8FF !important;
  border: 1px solid #999999 !important;
  padding: 5px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: bold !important;
}
.icon-32-export {
  background-image: url("../images/export.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.hasTip img {
  float: none;
}
div.current input,
fieldset input {
  float: none !important;
  margin: 0px !important;
}
#published0,
#published1,
fieldset img {
  float: none !important;
  margin: 1px !important;
}
#published0-lbl,
#published1-lbl {
  float: none !important;
  display: inline !important;
}
.digi_video {
  font-size: 14px;
  font-weight: bold;
}
.submenu-box,
div.m {
  background-color: #FFFFFF !important;
}
tr.row1 {
  background-color: #FFFFFF !important;
}
div.current input,
div.current textarea,
div.current select {
  clear: none !important;
  float: none !important;
  margin: 3px 0 0 2px !important;
}
fieldset ul.checklist input {
  clear: left;
  float: left !important;
}
/* User groups tweaks */
ul.usergroups label {
  display: inline;
}
div.current ul.usergroups input,
fieldset ul.usergroups input,
ul.usergroups input {
  display: inline;
  margin-top: -4px;
  clear: left !important;
  float: left !important;
  margin: 11px 0 0 2px !important;
}
ul.usergroups {
  margin: 5px 0 10px 0;
}
ul.usergroups li {
  line-height: 20px;
  list-style: none;
}
.digicom_icon_big {
  font-size: 45px;
  margin-right: 52px;
  margin-top: 18px;
}
/* Layout Styling */
body.com_digicom {
  overflow-x: hidden;
  background: #f1eeff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* Table Styles */
  /* elFinder File manager style */
  /* Form elements Styling */
}
body.com_digicom header.header {
  display: none;
}
body.com_digicom .subhead {
  margin-bottom: 0;
  background: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  border-bottom: 0;
}
body.com_digicom .subhead .btn-toolbar {
  text-align: right;
  margin: 0;
}
body.com_digicom .subhead .btn-toolbar .btn-wrapper {
  margin: 0 0 0 5px;
}
body.com_digicom .subhead .btn-toolbar #toolbar-title {
  float: left;
  margin-left: 0;
}
body.com_digicom .subhead .btn-toolbar #toolbar-title h3 {
  margin: 0;
  line-height: 26px;
}
body.com_digicom .subhead .btn-toolbar #toolbar-title h3 [class^="icon-"],
body.com_digicom .subhead .btn-toolbar #toolbar-title h3 [class*=" icon-"] {
  margin-right: 15px;
}
body.com_digicom .subhead .btn-toolbar .btn {
  background: #f5f5f5;
  border-color: #ddd;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
}
body.com_digicom .subhead .btn-toolbar .btn-primary {
  background: #1d6cb0;
  border-color: #888;
}
body.com_digicom .subhead .btn-toolbar .btn-success {
  background: #5bb75b;
  border-color: #888;
}
body.com_digicom .subhead .btn-toolbar .btn-mini .caret,
body.com_digicom .subhead .btn-toolbar .btn-small .caret {
  margin-top: 7px;
}
body.com_digicom .container-main {
  padding: 44px 0 0;
}
body.com_digicom #j-sidebar-container {
  background: #3f3955;
  margin-left: 0;
  width: 200px;
  overflow: hidden;
  color: #6c667c;
  position: fixed;
  top: 76px;
  bottom: 28px;
  left: 0;
}
body.com_digicom #j-sidebar-container #sidebar {
  padding: 15px 0;
}
body.com_digicom #j-sidebar-container #sidebar #submenu {
  width: 200px;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a {
  padding: 5px 12px;
  color: #6c667c;
  font-size: 14px;
  line-height: 24px;
  text-shadow: none;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a > span + span {
  display: inline-block;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:hover,
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:focus {
  background: inherit;
  color: #fbfbfb;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:hover [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:focus [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:hover [class*=" icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:focus [class*=" icon-"] {
  color: #fbfbfb;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list [class*=" icon-"] {
  color: #6c667c;
  margin-right: 15px;
  width: auto;
  height: auto;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a {
  background: #463f5b;
  color: #fbfbfb;
  border-left: 4px solid #edd70c;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a > [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a > [class*=" icon-"] {
  color: #fbfbfb;
}
body.com_digicom #j-main-container {
  padding: 20px;
  width: auto;
  margin-left: 200px;
  box-sizing: border-box;
  margin-right: 0;
}
body.com_digicom #j-sidebar-container,
body.com_digicom #j-main-container {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body.com_digicom div#system-debug,
body.com_digicom div#system-message-container {
  margin: 15px 15px 15px 215px;
}
body.com_digicom.sidebar-collapse #j-sidebar-container,
body.com_digicom.task-edit #j-sidebar-container {
  width: 38px;
}
body.com_digicom.sidebar-collapse #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a,
body.com_digicom.task-edit #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a {
  border: 0;
  background: #edd70c;
}
body.com_digicom.sidebar-collapse #j-main-container,
body.com_digicom.task-edit #j-main-container {
  margin-left: 38px;
}
body.com_digicom.sidebar-collapse div#system-debug,
body.com_digicom.task-edit div#system-debug,
body.com_digicom.sidebar-collapse div#system-message-container,
body.com_digicom.task-edit div#system-message-container {
  margin-left: 53px;
}
body.com_digicom .table > thead > tr > th,
body.com_digicom .table > tbody > tr > th,
body.com_digicom .table > tfoot > tr > th,
body.com_digicom .table > thead > tr > td,
body.com_digicom .table > tbody > tr > td,
body.com_digicom .table > tfoot > tr > td {
  padding: 12px 15px;
  line-height: 1.3;
  border: 1px solid #ebedf0;
}
body.com_digicom .table caption + thead tr:first-child th,
body.com_digicom .table caption + thead tr:first-child td,
body.com_digicom .table colgroup + thead tr:first-child th,
body.com_digicom .table colgroup + thead tr:first-child td,
body.com_digicom .table thead:first-child tr:first-child th,
body.com_digicom .table thead:first-child tr:first-child td {
  border-top: 1px solid #ebedf0;
}
body.com_digicom .table .pagination-toolbar {
  margin-top: 10px;
}
body.com_digicom .table-striped > tbody > tr:nth-child(2n+1) > td,
body.com_digicom .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #fafafa;
}
body.com_digicom #status {
  box-shadow: none;
}
body.com_digicom .elfinder {
  border-radius: 0;
}
body.com_digicom .elfinder .elfinder-navbar {
  background: #f4f5f7;
}
body.com_digicom .elfinder-toolbar {
  background: #f4f5f7;
  border-style: solid;
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #ddd;
  padding: 10px 5px;
}
body.com_digicom .elfinder-toolbar .ui-state-default {
  background: none;
}
body.com_digicom .elfinder-toolbar input[type="text"] {
  margin: 0;
  height: auto;
  line-height: 1;
}
body.com_digicom .elfinder-buttonset {
  border-radius: 0;
}
body.com_digicom textarea,
body.com_digicom input[type="text"],
body.com_digicom input[type="password"],
body.com_digicom input[type="datetime"],
body.com_digicom input[type="datetime-local"],
body.com_digicom input[type="date"],
body.com_digicom input[type="month"],
body.com_digicom input[type="time"],
body.com_digicom input[type="week"],
body.com_digicom input[type="number"],
body.com_digicom input[type="email"],
body.com_digicom input[type="url"],
body.com_digicom input[type="search"],
body.com_digicom input[type="tel"],
body.com_digicom input[type="color"],
body.com_digicom .uneditable-input {
  background: #edf0f6;
  padding: 10px;
  color: #646b7e;
  border-radius: 2px;
  border: 0;
}
body.com_digicom textarea:focus,
body.com_digicom input[type="text"]:focus,
body.com_digicom input[type="password"]:focus,
body.com_digicom input[type="datetime"]:focus,
body.com_digicom input[type="datetime-local"]:focus,
body.com_digicom input[type="date"]:focus,
body.com_digicom input[type="month"]:focus,
body.com_digicom input[type="time"]:focus,
body.com_digicom input[type="week"]:focus,
body.com_digicom input[type="number"]:focus,
body.com_digicom input[type="email"]:focus,
body.com_digicom input[type="url"]:focus,
body.com_digicom input[type="search"]:focus,
body.com_digicom input[type="tel"]:focus,
body.com_digicom input[type="color"]:focus,
body.com_digicom .uneditable-input:focus,
body.com_digicom textarea:active,
body.com_digicom input[type="text"]:active,
body.com_digicom input[type="password"]:active,
body.com_digicom input[type="datetime"]:active,
body.com_digicom input[type="datetime-local"]:active,
body.com_digicom input[type="date"]:active,
body.com_digicom input[type="month"]:active,
body.com_digicom input[type="time"]:active,
body.com_digicom input[type="week"]:active,
body.com_digicom input[type="number"]:active,
body.com_digicom input[type="email"]:active,
body.com_digicom input[type="url"]:active,
body.com_digicom input[type="search"]:active,
body.com_digicom input[type="tel"]:active,
body.com_digicom input[type="color"]:active,
body.com_digicom .uneditable-input:active {
  background: #fff;
  box-shadow: 0 0 3px #bbb inset;
}
body.com_digicom .input-append textarea,
body.com_digicom .input-prepend textarea,
body.com_digicom .input-append input[type="text"],
body.com_digicom .input-prepend input[type="text"],
body.com_digicom .input-append input[type="password"],
body.com_digicom .input-prepend input[type="password"],
body.com_digicom .input-append input[type="datetime"],
body.com_digicom .input-prepend input[type="datetime"],
body.com_digicom .input-append input[type="datetime-local"],
body.com_digicom .input-prepend input[type="datetime-local"],
body.com_digicom .input-append input[type="date"],
body.com_digicom .input-prepend input[type="date"],
body.com_digicom .input-append input[type="month"],
body.com_digicom .input-prepend input[type="month"],
body.com_digicom .input-append input[type="time"],
body.com_digicom .input-prepend input[type="time"],
body.com_digicom .input-append input[type="week"],
body.com_digicom .input-prepend input[type="week"],
body.com_digicom .input-append input[type="number"],
body.com_digicom .input-prepend input[type="number"],
body.com_digicom .input-append input[type="email"],
body.com_digicom .input-prepend input[type="email"],
body.com_digicom .input-append input[type="url"],
body.com_digicom .input-prepend input[type="url"],
body.com_digicom .input-append input[type="search"],
body.com_digicom .input-prepend input[type="search"],
body.com_digicom .input-append input[type="tel"],
body.com_digicom .input-prepend input[type="tel"],
body.com_digicom .input-append input[type="color"],
body.com_digicom .input-prepend input[type="color"],
body.com_digicom .input-append .uneditable-input,
body.com_digicom .input-prepend .uneditable-input {
  padding: 4px 5px;
  border: 1px solid #b6b6b6;
}
/* Layout Dgform Styling */
body.layout-dgform #j-main-container .form-inline .controls {
  margin-left: 0;
}
body.layout-dgform #j-main-container .nav-tabs {
  margin-bottom: 0;
  border: 0;
  background: #3f3955;
}
body.layout-dgform #j-main-container .nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  padding: 15px;
  color: #938da1;
}
body.layout-dgform #j-main-container .nav-tabs > li > a:hover {
  color: #fbfbfb;
  background: none;
}
body.layout-dgform #j-main-container .nav-tabs .active a,
body.layout-dgform #j-main-container .nav-tabs .active a:hover {
  border-top: 4px solid #edd70c;
  color: #6c667c;
  background: #fff;
}
body.layout-dgform #j-main-container .tab-content {
  padding: 15px;
  background: #fff;
}
/* Sidebar right styling */
#toggle_settings_wrap {
  background: #3f3955;
  color: #6c667c;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -200px;
  z-index: 9999;
  width: 200px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#toggle_settings_wrap h3 {
  color: #fbfbfb;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #342f46;
  box-shadow: 0 1px 0px #4a4364;
  padding-bottom: 5px;
  margin: 10px 0 5px;
}
#toggle_settings_wrap ul {
  list-style: none;
  margin-left: 0px;
}
#toggle_settings_wrap ul li a {
  color: #6c667c;
  line-height: 30px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#toggle_settings_wrap ul li a:hover {
  color: #edd70c;
  text-decoration: none;
  padding-left: 5px;
}
body.sidebar-right-collapse {
  -o-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
/* Dashboard Styling */
.sales-overview {
  margin-bottom: 15px;
}
.sales-overview .panel-box {
  box-shadow: 0 0 3px #ccc;
}
.sales-overview [class*=" icon-"],
.sales-overview [class^="icon-"] {
  font-size: 40px;
  line-height: 1;
  float: left;
  margin-right: 15px;
  height: auto;
  width: auto;
}
.sales-overview p {
  margin: 0;
  color: #bbb;
}
.sales-overview strong {
  font-size: 24px;
  line-height: 1.3;
  color: #444;
}
.panel {
  border: 1px solid #e1e1e1;
}
.panel .panel-header {
  background: #f5f5f5;
  padding: 10px;
}
.panel .panel-header .panel-title {
  margin: 0;
  float: left;
  line-height: 26px;
}
.panel .panel-header .panel-title span {
  margin-right: 7px;
}
.panel .panel-content {
  background: #fff;
  padding: 20px;
}
.nav-charts {
  border: 1px solid #eee;
}
.nav-charts li {
  float: left;
}
.nav-charts li a {
  display: block;
  padding: 10px 15px;
}
.nav-charts li + li {
  border-left: 1px solid #eee;
}
.nav-charts li.active a {
  background: #edd70c;
  color: #fff;
}
