.panel-box {
  background: #fff;
  padding: 15px;
}
/* Joomla 2.5 FIX */
.pull-left {
  float: left;
}
.media {
  clear: both;
}
dt.acl-groups {
  font-size: inherit;
}
/* Joomla 3.0 FIX */
td.order input {
  width: 30px;
  text-align: right;
}
/* General FIX */
#content [class^="icon-"],
#content [class*=" icon-"] {
  color: #B44CDB;
}
#content .btn [class^="icon-"],
#content .btn [class*=" icon-"] {
  color: inherit;
}
span.label-ds,
span.badge-ds {
  background-color: #B44CDB;
}
span.label-ds a,
span.badge-ds a {
  color: white;
}
.header_zone,
adminlist.header_zone {
  background-color: #E8F8FF !important;
  border: 1px solid #999999 !important;
  padding: 5px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: bold !important;
}
.icon-32-export {
  background-image: url("../images/export.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.hasTip img {
  float: none;
}
div.current input,
fieldset input {
  float: none !important;
  margin: 0px !important;
}
#published0,
#published1,
fieldset img {
  float: none !important;
  margin: 1px !important;
}
#published0-lbl,
#published1-lbl {
  float: none !important;
  display: inline !important;
}
.digi_video {
  font-size: 14px;
  font-weight: bold;
}
.submenu-box,
div.m {
  background-color: #FFFFFF !important;
}
tr.row1 {
  background-color: #FFFFFF !important;
}
div.current input,
div.current textarea,
div.current select {
  clear: none !important;
  float: none !important;
  margin: 3px 0 0 2px !important;
}
fieldset ul.checklist input {
  clear: left;
  float: left !important;
}
/* User groups tweaks */
ul.usergroups label {
  display: inline;
}
div.current ul.usergroups input,
fieldset ul.usergroups input,
ul.usergroups input {
  display: inline;
  margin-top: -4px;
  clear: left !important;
  float: left !important;
  margin: 11px 0 0 2px !important;
}
ul.usergroups {
  margin: 5px 0 10px 0;
}
ul.usergroups li {
  line-height: 20px;
  list-style: none;
}
.digicom_icon_big {
  font-size: 45px;
  margin-right: 52px;
  margin-top: 18px;
}
/* Layout Styling */
body.com_digicom {
  overflow-x: hidden;
  background: #f1eeff;
  /* Table Styles */
  /* elFinder File manager style */
}
body.com_digicom header.header {
  display: none;
}
body.com_digicom .subhead {
  margin-bottom: 0;
  background: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  border-bottom: 0;
}
body.com_digicom .subhead .btn-toolbar {
  text-align: right;
  margin: 0;
}
body.com_digicom .subhead .btn-toolbar .btn-wrapper {
  margin: 0 0 0 5px;
}
body.com_digicom .subhead .btn-toolbar #toolbar-title {
  float: left;
  margin-left: 0;
}
body.com_digicom .subhead .btn-toolbar #toolbar-title h3 {
  margin: 0;
  line-height: 26px;
}
body.com_digicom .subhead .btn-toolbar #toolbar-title h3 [class^="icon-"],
body.com_digicom .subhead .btn-toolbar #toolbar-title h3 [class*=" icon-"] {
  margin-right: 15px;
}
body.com_digicom .subhead .btn-toolbar .btn {
  background: #ddd;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
}
body.com_digicom .subhead .btn-toolbar .btn-primary {
  background: #1d6cb0;
}
body.com_digicom .subhead .btn-toolbar .btn-success {
  background: #5bb75b;
}
body.com_digicom .subhead .btn-toolbar .btn-mini .caret,
body.com_digicom .subhead .btn-toolbar .btn-small .caret {
  margin-top: 7px;
}
body.com_digicom .container-main {
  padding: 44px 0 0;
}
body.com_digicom #j-sidebar-container {
  background: #3f3955;
  margin-left: 0;
  width: 200px;
  overflow: hidden;
  color: #6c667c;
  position: fixed;
  top: 76px;
  bottom: 28px;
  left: 0;
}
body.com_digicom #j-sidebar-container #sidebar {
  padding: 15px 0;
}
body.com_digicom #j-sidebar-container #sidebar #submenu {
  width: 200px;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a {
  padding: 5px 12px;
  color: #6c667c;
  font-size: 14px;
  line-height: 24px;
  text-shadow: none;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a > span + span {
  display: inline-block;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:hover,
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:focus {
  background: inherit;
  color: #fbfbfb;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:hover [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:focus [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:hover [class*=" icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li > a:focus [class*=" icon-"] {
  color: #fbfbfb;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list [class*=" icon-"] {
  color: #6c667c;
  margin-right: 15px;
  width: auto;
  height: auto;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a {
  background: #463f5b;
  color: #fbfbfb;
  border-left: 4px solid #edd70c;
}
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a > [class^="icon-"],
body.com_digicom #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a > [class*=" icon-"] {
  color: #fbfbfb;
}
body.com_digicom #j-main-container {
  padding: 20px;
  width: auto;
  margin-left: 200px;
  box-sizing: border-box;
  margin-right: 0;
}
body.com_digicom #j-sidebar-container,
body.com_digicom #j-main-container {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body.com_digicom div#system-debug,
body.com_digicom div#system-message-container {
  margin: 15px 15px 15px 215px;
}
body.com_digicom.sidebar-collapse #j-sidebar-container,
body.com_digicom.task-edit #j-sidebar-container {
  width: 38px;
}
body.com_digicom.sidebar-collapse #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a,
body.com_digicom.task-edit #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active > a {
  border: 0;
  background: #edd70c;
}
body.com_digicom.sidebar-collapse #j-main-container,
body.com_digicom.task-edit #j-main-container {
  margin-left: 38px;
}
body.com_digicom.sidebar-collapse div#system-debug,
body.com_digicom.task-edit div#system-debug,
body.com_digicom.sidebar-collapse div#system-message-container,
body.com_digicom.task-edit div#system-message-container {
  margin-left: 53px;
}
body.com_digicom .table > thead > tr > th,
body.com_digicom .table > tbody > tr > th,
body.com_digicom .table > tfoot > tr > th,
body.com_digicom .table > thead > tr > td,
body.com_digicom .table > tbody > tr > td,
body.com_digicom .table > tfoot > tr > td {
  padding: 12px 15px;
  line-height: 1.3;
  border: 1px solid #ebedf0;
}
body.com_digicom .table caption + thead tr:first-child th,
body.com_digicom .table caption + thead tr:first-child td,
body.com_digicom .table colgroup + thead tr:first-child th,
body.com_digicom .table colgroup + thead tr:first-child td,
body.com_digicom .table thead:first-child tr:first-child th,
body.com_digicom .table thead:first-child tr:first-child td {
  border-top: 1px solid #ebedf0;
}
body.com_digicom .table .pagination-toolbar {
  margin-top: 10px;
}
body.com_digicom .table-striped > tbody > tr:nth-child(2n+1) > td,
body.com_digicom .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #fafafa;
}
body.com_digicom #status {
  box-shadow: none;
}
body.com_digicom .elfinder {
  margin: -15px -20px;
  border-radius: 0;
}
body.com_digicom .elfinder-toolbar {
  background: none;
  border-style: solid;
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: #ddd;
  padding: 10px 5px;
}
body.com_digicom .elfinder-toolbar .ui-state-default {
  background: none;
}
body.com_digicom .elfinder-toolbar input[type="text"] {
  margin: 0;
  height: auto;
  line-height: 1;
}
body.com_digicom .elfinder-buttonset {
  border-radius: 0;
}
/* Layout Dgform Styling */
body.layout-dgform #j-main-container .form-inline .controls {
  margin-left: 0;
}
body.layout-dgform #j-main-container .nav-tabs {
  margin-bottom: 0;
  border: 0;
  background: #3f3955;
}
body.layout-dgform #j-main-container .nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  padding: 15px;
  color: #938da1;
}
body.layout-dgform #j-main-container .nav-tabs > li > a:hover {
  color: #fbfbfb;
  background: none;
}
body.layout-dgform #j-main-container .nav-tabs .active a,
body.layout-dgform #j-main-container .nav-tabs .active a:hover {
  border-top: 4px solid #edd70c;
  color: #6c667c;
  background: #fff;
}
body.layout-dgform #j-main-container .tab-content {
  padding: 15px;
  background: #fff;
}
