<?xml version="1.0" encoding="utf-8"?>
<form>
	<fields>
		<fieldset name="GENERAL">
			<field
				name="general_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_SETTINGS_GENERAL_FIELD_LABEL"
				/>

			<field
				name="catalogue"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_CATALOGUE_MODE"
				default="0"
				description="COM_DIGICOM_SETTINGS_GENERAL_CATALOGUE_MODE_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="show_quantity"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_SHOW_QUANTITY_LABEL"
				description="COM_DIGICOM_SETTINGS_SHOW_QUANTITY_DESC"
				default="0">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="show_validity"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_SHOW_VALIDITY_LABEL"
				description="COM_DIGICOM_SETTINGS_SHOW_VALIDITY_DESC"
				default="1">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>

			<field
				name="time_format"
				type="list"
				label="COM_DIGICOM_SETTINGS_GENERAL_DATE_FORMAT"
				default="d-m-Y"
				description="COM_DIGICOM_SETTINGS_GENERAL_DATE_FORMAT_DESC">
					<option value="d-m-Y">DATE_FORMAT_1</option>
					<option value="m-d-Y">DATE_FORMAT_2</option>
					<option value="Y-m-d">DATE_FORMAT_3</option>
					<option value="Y-d-m">DATE_FORMAT_4</option>
			</field>

			<field
				name="hour24format"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_TIME_FORMAT"
				default="0"
				description="COM_DIGICOM_SETTINGS_GENERAL_TIME_FORMAT_DESC">
					<option value="0">TIME_FORMAT_12</option>
					<option value="1">TIME_FORMAT_24</option>
			</field>

			<field
				name="ftp_source_path"
				type="text"
				label="COM_DIGICOM_SETTINGS_GENERAL_FTP_PATH"
				default="digicom"
				description="COM_DIGICOM_SETTINGS_GENERAL_FTP_PATH" />

			<field
				name="directfilelink"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_DIRECT_LINK_PRODUCT_FILES"
				default="0"
				description="COM_DIGICOM_SETTINGS_GENERAL_DIRECT_LINK_PRODUCT_FILES_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="registration_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_SETTINGS_GENERAL_REGISTRATION_FIELD_LABEL"
				/>
			<field
				name="askforbilling"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_ASK_FOR_BILLING_DETAILS"
				default="1"
				description="COM_DIGICOM_SETTINGS_GENERAL_ASK_FOR_BILLING_DETAILS_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="askforcompany"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_ASK_FOR_COMPANY_NAME"
				default="1"
				description="COM_DIGICOM_SETTINGS_GENERAL_ASK_FOR_COMPANY_NAME_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="show_changepass"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_SHOW_CHANGEPASS"
				default="1"
				description="COM_DIGICOM_SETTINGS_GENERAL_SHOW_CHANGEPASS_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>

			<field
				name="topcountries"
				type="sql"
				query="SELECT distinct country FROM #__digicom_states order by country"
				key_field="country"
				value_field="country"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_TOP_COUNTRIES"
				default=""
				multiple="true"
				description="COM_DIGICOM_SETTINGS_GENERAL_TOP_COUNTRIES_DESC"
			/>

			<field
				name="askterms"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_ASK_FOR_TERMS_CONDITION"
				default="0"
				description="COM_DIGICOM_SETTINGS_GENERAL_ASK_FOR_TERMS_CONDITION_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="termsid"
				type="sql"
				default="10"
				label="COM_DIGICOM_SETTINGS_GENERAL_TERMS_CONDITION_ID"
				description="COM_DIGICOM_TERMSID_TIP"
				query="SELECT id, title FROM #__content"
				key_field="id"
				value_field="title">
			</field>

			<field
				name="buyprocess_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_SETTINGS_GENERAL_BUYING_PROCESS_FIELD_LABEL"
				/>
			<field
				name="afteradditem"
				type="list"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_AFTER_ADDING_ITEM_TAKE_USER"
				default="0"
				description="COM_DIGICOM_SETTINGS_GENERAL_AFTER_ADDING_ITEM_TAKE_USER_DESC">
					<option value="0">COM_DIGICOM_SETTINGS_GENERAL_AFTER_ADDING_ITEM_TAKE_USER_TO_CART</option>
					<!-- <option value="1">COM_DIGICOM_SETTINGS_GENERAL_AFTER_ADDING_ITEM_TAKE_USER_STAY_PRODUCT</option> -->
					<option value="2">COM_DIGICOM_SETTINGS_GENERAL_AFTER_ADDING_ITEM_TAKE_USER_CART_POPUP</option>
			</field>
			<field
				name="default_payment"
				type="sql"
				query="SELECT extension_id as id,name,element,enabled as published FROM #__extensions WHERE folder in ('digicom_pay') AND enabled=1"
				key_field="element"
				value_field="name"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_DEFAULT_PAYMENT_METHOD"
				description="COM_DIGICOM_SETTINGS_GENERAL_DEFAULT_PAYMENT_METHOD_DESC">
					<!-- <option value="">Select payment gateway</option> -->
			</field>
			<field
				name="checkout_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_SETTINGS_GENERAL_CHECKOUT_FIELD_LABEL"
				/>
			<field
				name="show_steps"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_SHOW_STEPS"
				default="1"
				description="COM_DIGICOM_SETTINGS_GENERAL_SHOW_STEPS_DESC">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="afterpurchase"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_GENERAL_AFTER_PAYMENT_GO_TO"
				default="1"
				description="COM_DIGICOM_SETTINGS_GENERAL_AFTER_PAYMENT_GO_TO_DESC">
					<option value="0">COM_DIGICOM_SETTINGS_GENERAL_AFTER_PAYMENT_GO_TO_LICENSE</option>
					<option value="1">COM_DIGICOM_SETTINGS_GENERAL_AFTER_PAYMENT_GO_TO_ORDER</option>
			</field>
		</fieldset>

		<fieldset
			name="CURRENCY"
			addfieldpath="/administrator/components/com_digicom/models/fields">
			<field
				name="currency_spacer"
				type="spacer"
				label="COM_DIGICOM_CURRENCY_SETTINGS"
				/>

			<field
				name="decimaldigits"
				type="list"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_CURRENCY_DECIMALDIGITS_LABEL"
				default="2"
				description="COM_DIGICOM_SETTINGS_CURRENCY_DECIMALDIGITS_DESC">
					<option value="1">00.0</option>
					<option value="2">00.00</option>
					<option value="3">00.000</option>
					<option value="4">00.0000</option>
					<option value="5">00.00000</option>
			</field>
			<field
				name="thousands_group_symbol"
				type="text"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_CURRENCY_THOUSANDS_GROUP_SYMBOL_LABEL"
				default=","
				description="COM_DIGICOM_SETTINGS_CURRENCY_THOUSANDS_GROUP_SYMBOL_DESC" />

			<field
				name="dec_group_symbol"
				type="text"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_CURRENCY_DEC_GROUP_SYMBOL_LABEL"
				default="."
				description="COM_DIGICOM_SETTINGS_CURRENCY_DEC_GROUP_SYMBOL_DESC" />


			<field
				name="currency"
				type="text"
				label="COM_DIGICOM_CURRENCY_CODE"
				default="USD"
				description="COM_DIGICOM_SETTINGS_CURRENCY_SELECTOR_DESC" />

			<field
				name="currency_symbol"
				type="text"
				label="COM_DIGICOM_CURRENCY_SYMBOL"
				default="$"
				description="COM_DIGICOM_CURRENCY_SYMBOL_DESC" />

				<field
					name="currency_use"
					type="list"
					class="btn-group"
					label="COM_DIGICOM_CURRENCY_USE_SITE_LABEL"
					default="symbol"
					description="COM_DIGICOM_CURRENCY_USE_SITE_DESC">
						<option value="code">COM_DIGICOM_CURRENCY_CODE</option>
						<option value="symbol">COM_DIGICOM_CURRENCY_SYMBOL</option>
				</field>

			<!-- <field
				name="currency"
				type="sql"
				query="select distinct currency_name, currency_full from #__digicom_currencies"
				key_field="currency_name"
				value_field="currency_full"
				class="btn-group"
				label="COM_DIGICOM_CURRENCY"
				default="1"
				description="COM_DIGICOM_SETTINGS_CURRENCY_SELECTOR_DESC" /> -->

			<field
				name="currency_position"
				type="list"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_CURRENCY_DISPLAY_POSITION"
				default="1"
				description="COM_DIGICOM_SETTINGS_CURRENCY_DISPLAY_POSITION_DESC">
					<option value="0">COM_DIGICOM_SETTINGS_CURRENCY_DISPLAY_POSITION_BEFORE</option>
					<option value="1">COM_DIGICOM_SETTINGS_CURRENCY_DISPLAY_POSITION_AFTER</option>
			</field>

			<field
				name="usecimg"
				type="hidden"
				class="btn-group"
				label="VIEWCONFIGIMGFORCUR"
				default="0"
				description="" />

		</fieldset>

		<fieldset name="STORE">
			<field
				name="store_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_SETTINGS_STORE_HEADER_NOTICE"
				/>
			<field
				name="store_name"
				type="text"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_STORE_NAME"
				default="DigiCom Store"
				description="COM_DIGICOM_SETTINGS_STORE_NAME_DESC" />

			<field
				name="address"
				type="textarea"
				label="COM_DIGICOM_SETTINGS_STORE_ADDRESS"
				description="COM_DIGICOM_SETTINGS_STORE_ADDRESS_DESC" />

			<field
				name="store_info"
				type="textarea"
				label="COM_DIGICOM_SETTINGS_STORE_STORE_INFO_LABEL"
				description="COM_DIGICOM_SETTINGS_STORE_STORE_INFO_DESC" />

			<field
				name="store_url"
				type="hidden"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_STORE_URL"
				default=""
				description="COM_DIGICOM_SETTINGS_STORE_URL_DESC" />

			<field
				name="phone"
				type="text"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_STORE_PHONE"
				description="COM_DIGICOM_SETTINGS_STORE_PHONE_DESC" />

			<field
				name="store_logo"
				type="media"
				class="btn-group"
				label="COM_DIGICOM_SETTINGS_STORE_LOGO"
				description="COM_DIGICOM_SETTINGS_STORE_LOGO_DESC" />

		</fieldset>

		<fieldset name="THEME" addfieldpath="/administrator/components/com_digicom/models/fields">
			<field
				name="theme_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_SETTINGS_THEME_HEADER_NOTICE"
				/>
			<field
				name="template"
				type="themelayout"
				class="title"
				label="COM_DIGICOM_SETTINGS_THEME_TEMPLATE_TITLE"
				description="COM_DIGICOM_SETTINGS_THEME_TEMPLATE_TITLE_DESC"
				/>
			<field
				name="category_cols"
				type="list"
				label="COM_DIGICOM_SETTINGS_THEME_COLUMN_NO"
				description="COM_DIGICOM_SETTINGS_THEME_COLUMN_NO_DESC"
			>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="6">6</option>
			</field>

			<field
				name="thumb_image_size_spacer"
				type="spacer"
				class="title"
				label="COM_DIGICOM_THEME_THUMBNAIL_IMAGE_SETTINGS_LABEL"
				/>
			<field
				name="image_thumb_enable"
				type="radio"
				class="btn-group"
				label="COM_DIGICOM_IMAGE_THUMB_ENABLE_LABEL"
				description="COM_DIGICOM_IMAGE_THUMB_ENABLE_DESC"
				default="1">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
			</field>
			<field
				name="image_thumb_width"
				type="number"
				label="COM_DIGICOM_IMAGE_THUMB_WIDTH_LABEL"
				description="COM_DIGICOM_IMAGE_THUMB_WIDTH_DESC"
				default="400"
				/>
			<field
				name="image_thumb_height"
				type="number"
				label="COM_DIGICOM_IMAGE_THUMB_HEIGHT_LABEL"
				description="COM_DIGICOM_IMAGE_THUMB_HEIGHT_DESC"
				default="400"
				/>
			<field
				name="image_thumb_method"
				type="list"
				label="COM_DIGICOM_IMAGE_THUMB_METHOD_LABEL"
				description="COM_DIGICOM_IMAGE_THUMB_METHOD_DESC"
				default="5"
				>
				<option value="6">COM_DIGICOM_IMAGE_RESIZE_METHOD_SCALE_FIT</option>
				<option value="1">COM_DIGICOM_IMAGE_RESIZE_METHOD_SCALE_FILL</option>
				<option value="2">COM_DIGICOM_IMAGE_RESIZE_METHOD_SCALE_INSIDE</option>
				<option value="3">COM_DIGICOM_IMAGE_RESIZE_METHOD_SCALE_OUTSIDE</option>
				<option value="4">COM_DIGICOM_IMAGE_RESIZE_METHOD_CROP</option>
				<option value="5">COM_DIGICOM_IMAGE_RESIZE_METHOD_CROP_RESIZE</option>
			</field>


		</fieldset>

		<fieldset name="email_settings" addfieldpath="/administrator/components/com_digicom/models/fields"
			label="COM_DIGICOM_SETTINGS_EMAIL_FIELDSET_LABEL"
			description="COM_DIGICOM_SETTINGS_EMAIL_FIELDSET_LABEL_DESC">

			<fields name="email_settings">

				<field
					name="from_name"
					type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_FROM_NAME_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_FROM_NAME_LABEL_DESC"
					/>

				<field
					name="from_email"
					type="email"
					label="COM_DIGICOM_SETTINGS_EMAIL_FROM_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_FROM_LABEL_DESC"
					/>

				<field
					name="sendmailtoadmin"
					type="radio"
					class="btn-group"
					label="COM_DIGICOM_SETTINGS_EMAIL_SENDEMAILTOADMIN_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_SENDEMAILTOADMIN_DESC"
					default="1"
					>
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>

				<field name="email_settings_spacer_template_notice" type="spacer" class="alert alert-info"
					label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_TEMPLATE_NOTICE"
					/>
				<field
					name="email_header_image"
					type="media"
					label="COM_DIGICOM_SETTINGS_EMAIL_HEADER_IMAGE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_HEADER_IMAGE_DESC"
					/>
				<field
					name="email_footer"
					type="textarea"
					label="COM_DIGICOM_SETTINGS_EMAIL_FOOTER_LABEL"
					class="span12 input-large-text" row="12"
					description="COM_DIGICOM_SETTINGS_EMAIL_FOOTER_DESC"
					/>
				<field
					name="email_base_color"
					type="color"
					label="COM_DIGICOM_SETTINGS_EMAIL_BASE_COLOR_LABEL"
					class="span12" row="12"
					description="COM_DIGICOM_SETTINGS_EMAIL_BASE_COLOR_DESC"
					default="#557da1"
					/>
				<field
					name="email_bg_color"
					type="color"
					label="COM_DIGICOM_SETTINGS_EMAIL_BG_COLOR_LABEL"
					class="span12" row="12"
					description="COM_DIGICOM_SETTINGS_EMAIL_BG_COLOR_DESC"
					default="#f5f5f5"
					/>
				<field
					name="email_body_bg_color"
					type="color"
					label="COM_DIGICOM_SETTINGS_EMAIL_BODY_BG_COLOR_LABEL"
					class="span12" row="12"
					description="COM_DIGICOM_SETTINGS_EMAIL_BODY_BG_COLOR_DESC"
					default="#fdfdfd"
					/>
				<field
					name="email_body_color"
					type="color"
					label="COM_DIGICOM_SETTINGS_EMAIL_BODY_COLOR_LABEL"
					class="span12" row="12"
					description="COM_DIGICOM_SETTINGS_EMAIL_BODY_COLOR_DESC"
					default="#505050"
					/>

			</fields>

			<fields name="new_order">

				<field name="email_settings_spacer_new_order_notice" type="spacer" class="alert"
				label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_NEW_ORDER_NOTICE"
				/>

				<field
					name="enable"
					type="radio"
					class="btn-group"
					label="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_DESC"
					default="1"
				>
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>

				<field name="recipients" type="text"
					label="COM_DIGICOM_SETTINGS_RECIPIENTS_LABEL"
					description="COM_DIGICOM_SETTINGS_RECIPIENTS_DESC"
				/>
				<field name="Subject" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_DESC"
				>
					<option value="[{site_title}] New customer order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_NEW_ORDER_SUBJECT_DEFAULT</option>
				</field>
				<field name="heading" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_HEADING_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_HEADING_DESC"
				>
					<option value="[{site_title}] New customer order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_NEW_ORDER_SUBJECT_DEFAULT</option>
				</field>

				<field name="email_type" type="list"
					label="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_DESC"
					onchange="showProperTemplateEmail('new_order',event)"
				>
					<option value="html">COM_DIGICOM_SETTINGS_EMAIL_TYPE_HTML</option>
					<option value="raw">COM_DIGICOM_SETTINGS_EMAIL_TYPE_TEXT</option>
				</field>
				<field name="email_settings_spacer_new_order_show_hide" type="spacer"
					label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_NEW_ORDER_SHOW_HIDE_NOTICE"
				/>
				<field name="template_html" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_HTML_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="new-order.html.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_NEW_ORDER_HTML_MSG"
					class="span12 email_template_digicom_new_order_html"
				/>

				<field name="template_raw" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_RAW_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="new-order.raw.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_NEW_ORDER_RAW_MSG"
					class="span12 email_template_digicom_new_order_raw"
				/>


			</fields>
			<fields name="process_order">

				<field name="email_settings_spacer_process_order_notice" type="spacer" class="alert"
				label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_PROCESS_ORDER_NOTICE"
				/>

				<field
					name="enable"
					type="radio"
					class="btn-group"
					label="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_DESC"
					default="1"
				>
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>

				<field name="recipients" type="text"
					label="COM_DIGICOM_SETTINGS_RECIPIENTS_LABEL"
					description="COM_DIGICOM_SETTINGS_RECIPIENTS_DESC"
				/>
				<field name="Subject" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_DESC"
				>
					<option value="[{site_title}] Process Order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_PROCESS_ORDER_SUBJECT_DEFAULT</option>
				</field>
				<field name="heading" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_HEADING_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_HEADING_DESC"
				>
					<option value="[{site_title}] Process order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_PROCESS_ORDER_SUBJECT_DEFAULT</option>
				</field>

				<field name="email_type" type="list"
					label="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_DESC"
					onchange="showProperTemplateEmail('process_order',event)"
				>
					<option value="html">COM_DIGICOM_SETTINGS_EMAIL_TYPE_HTML</option>
					<option value="raw">COM_DIGICOM_SETTINGS_EMAIL_TYPE_TEXT</option>
				</field>
				<field name="email_settings_spacer_process_order_show_hide" type="spacer"
					label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_PROCESS_ORDER_SHOW_HIDE_NOTICE"
				/>
				<field name="template_html" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_HTML_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="process-order.html.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_PROCESS_ORDER_HTML_MSG"
					class="span12 email_template_digicom_process_order_html"
				/>

				<field name="template_raw" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_RAW_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="process-order.raw.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_PROCESS_ORDER_RAW_MSG"
					class="span12 email_template_digicom_process_order_raw"
				/>


			</fields>
			<fields name="complete_order">complete_order

				<field name="email_settings_spacer_complete_order_notice" type="spacer" class="alert"
				label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_COMPLETE_ORDER_NOTICE"
				/>

				<field
					name="enable"
					type="radio"
					class="btn-group"
					label="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_DESC"
					default="1"
				>
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>

				<field name="recipients" type="text"
					label="COM_DIGICOM_SETTINGS_RECIPIENTS_LABEL"
					description="COM_DIGICOM_SETTINGS_RECIPIENTS_DESC"
				/>
				<field name="Subject" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_DESC"
				>
					<option value="[{site_title}] Complete order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_COMPLETE_ORDER_SUBJECT_DEFAULT</option>
				</field>
				<field name="heading" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_HEADING_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_HEADING_DESC"
				>
					<option value="[{site_title}] Complete order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_COMPLETE_ORDER_SUBJECT_DEFAULT</option>
				</field>

				<field name="email_type" type="list"
					label="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_DESC"
					onchange="showProperTemplateEmail('complete_order',event)"
				>
					<option value="html">COM_DIGICOM_SETTINGS_EMAIL_TYPE_HTML</option>
					<option value="raw">COM_DIGICOM_SETTINGS_EMAIL_TYPE_TEXT</option>
				</field>
				<field name="email_settings_spacer_complete_order_show_hide" type="spacer"
					label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_COMPLETE_ORDER_SHOW_HIDE_NOTICE"
				/>
				<field name="template_html" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_HTML_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="complete-order.html.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_COMPLETE_ORDER_HTML_MSG"
					class="span12 email_template_digicom_complete_order_html"
				/>

				<field name="template_raw" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_RAW_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="complete-order.raw.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_COMPLETE_ORDER_RAW_MSG"
					class="span12 email_template_digicom_complete_order_raw"
				/>


			</fields>
			<fields name="cancel_order">

				<field name="email_settings_spacer_cancel_order_notice" type="spacer" class="alert"
				label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_CANCEL_ORDER_NOTICE"
				/>

				<field
					name="enable"
					type="radio"
					class="btn-group"
					label="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_ENABLE_DESC"
					default="1"
				>
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>

				<field name="recipients" type="text"
					label="COM_DIGICOM_SETTINGS_RECIPIENTS_LABEL"
					description="COM_DIGICOM_SETTINGS_RECIPIENTS_DESC"
				/>
				<field name="Subject" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_SUBJECT_DESC"
				>
					<option value="[{site_title}] Cancel order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_CANCEL_ORDER_SUBJECT_DEFAULT</option>
				</field>
				<field name="heading" type="text"
					label="COM_DIGICOM_SETTINGS_EMAIL_HEADING_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_HEADING_DESC"
				>
					<option value="[{site_title}] Cancel order ({order_number}) - {order_date}">COM_DIGICOM_SETTINGS_EMAIL_CANCEL_ORDER_SUBJECT_DEFAULT</option>
				</field>

				<field name="email_type" type="list"
					label="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_LABEL"
					description="COM_DIGICOM_SETTINGS_EMAIL_EMAIL_TYPE_DESC"
					onchange="showProperTemplateEmail('cancel_order',event)"
				>
					<option value="html">COM_DIGICOM_SETTINGS_EMAIL_TYPE_HTML</option>
					<option value="raw">COM_DIGICOM_SETTINGS_EMAIL_TYPE_TEXT</option>
				</field>
				<field name="email_settings_spacer_cancel_order_show_hide" type="spacer"
					label="COM_DIGICOM_SETTINGS_EMAIL_SETTINGS_SPACER_CANCEL_ORDER_SHOW_HIDE_NOTICE"
				/>
				<field name="template_html" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_HTML_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="cancel-order.html.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_CANCEL_ORDER_HTML_MSG"
					class="span12 email_template_digicom_cancel_order_html"
				/>

				<field name="template_raw" type="dgeditor"
					noname="true"
					editor="codemirror|none"
					readonly="true"
					buttons="no"
					label="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_RAW_LABEL" description="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_DESC"
					height="500px" rows="20" cols="80" syntax="php" filter="raw"
					path="/components/com_digicom/emails/"
					filename="cancel-order.raw.php"
					overridepath="template"
					override="/html/com_digicom/emails/"
					overridemsg="COM_DIGICOM_SETTINGS_EMAIL_TEMPLATE_OVERRIDE_CANCEL_ORDER_RAW_MSG"
					class="span12 email_template_digicom_cancel_order_raw"
				/>


			</fields>


			<!--

			<field
				name="email"
				type="systememail"
				class="systememail"
				label="COM_DIGICOM_SYSTEM_EMAIL_LABEL"
				description="COM_DIGICOM_SYSTEM_EMAIL_DESC"
				/>
			-->
		</fieldset>

	</fields>

</form>
