body.com_digicom .header{
	display:none
}

/* Joomla 2.5 FIX */
.pull-left {
  float: left;
}
.media {
  clear: both;
}
dt.acl-groups {
  font-size: inherit;
}
/* Joomla 3.0 FIX */
td.order input {
  width: 30px;
  text-align: right;
}
/* General FIX */
#content [class^="icon-"],
#content [class*=" icon-"] {
  color: #B44CDB;
}
#content .btn [class^="icon-"],
#content .btn [class*=" icon-"] {
  color: inherit;
}
span.label-ds,
span.badge-ds {
  background-color: #B44CDB;
}
span.label-ds a,
span.badge-ds a {
  color: white;
}
.header_zone,
adminlist.header_zone {
  background-color: #E8F8FF !important;
  border: 1px solid #999999 !important;
  padding: 5px !important;
  text-align: left !important;
  vertical-align: top !important;
  font-weight: bold !important;
}
.icon-32-export {
  background-image: url("../images/export.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.hasTip img {
  float: none;
}
div.current input,
fieldset input {
  float: none !important;
  margin: 0px !important;
}
#published0,
#published1,
fieldset img {
  float: none !important;
  margin: 1px !important;
}
#published0-lbl,
#published1-lbl {
  float: none !important;
  display: inline !important;
}
.digi_video {
  font-size: 14px;
  font-weight: bold;
}
.submenu-box,
div.m {
  background-color: #FFFFFF !important;
}
tr.row1 {
  background-color: #FFFFFF !important;
}
div.current input,
div.current textarea,
div.current select {
  clear: none !important;
  float: none !important;
  margin: 3px 0 0 2px !important;
}
fieldset ul.checklist input {
  clear: left;
  float: left !important;
}
/* User groups tweaks */
ul.usergroups label {
  display: inline;
}
div.current ul.usergroups input,
fieldset ul.usergroups input,
ul.usergroups input {
  display: inline;
  margin-top: -4px;
  clear: left !important;
  float: left !important;
  margin: 11px 0 0 2px !important;
}
ul.usergroups {
  margin: 5px 0 10px 0;
}
ul.usergroups li {
  line-height: 20px;
  list-style: none;
}
.digicom_icon_big {
  font-size: 45px;
  margin-right: 52px;
  margin-top: 18px;
}
/* Layout Styling */

body.com_digicom .subhead {
  margin-bottom: 0;
}
body.com_digicom .btn-toolbar {
  text-align: right;
}
body.com_digicom .btn-toolbar #toolbar-title {
  float: left;
}
body.com_digicom .container-main {
  padding: 45px 0px 0px 0px;
}
body.com_digicom #j-sidebar-container {
  height: 100vh;
  background: #eee;
  margin-left: 0;
}
body.com_digicom #j-sidebar-container #sidebar {
  padding: 15px 0;
}
body.com_digicom #j-main-container {
  padding: 15px 0;
}
body.com_digicom #status {
  box-shadow: none;
}
