.mainwrap table {
	width:100%;
	text-align:top;

}

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
	text-align:left;
}

.dtree img {
	border: 0px;
	vertical-align: middle;
}

.dtree a {
	color: #333;
	text-decoration: none;
}

.dtree a:link,.dtree a:visited,.dtree a:active {
	color: #333 !important ;
	text-decoration: none;
}

.dtree a.node,.dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}

.dtree a.node:hover,.dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}

.dtree a.nodeSel {
	background-color: #c0d2ec;
}

.calendar {
	border:none;
	vertical-align:bottom;

}
/*
.navtreewrap {
 border-width:1px; border-color:#D5D5D5; border-style:solid;
}
*/

.navtreewrap {
	border-right:1px solid #D5D5D5;
	margin-right:1em;
	padding-right:1em;
	padding-top: 15px;
}

span.del_img {
	margin-left: 24px; 
	margin-top: 3px;
	width: 100%; 
	display: inline-block;
}

.second_title_dgst {
	background-color: #E6E6E6;
	padding: 3px;
}

.first_title_dgst {
	background-color: #666666;
	color: #FFFFFF;
	padding: 3px;
}