#digicom .panel {
  box-shadow: rgba(102, 119, 136, 0.03) 0px 6px 8px, rgba(102, 119, 136, 0.3) 0px 1px 2px;
  background: #ffffff;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
#digicom .panel > .panel-heading {
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
}
#digicom .panel .panel-heading,
#digicom .panel-default .panel-footer {
  color: #667788;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px;
  background: #f6f7f9;
  border-color: #eaeaea;
}
